body {
	margin: 0;
	height: 100%;
}

body h1 {
	height: 80px;
	width: 240px;
	border: 2px solid #4aaaa5;
	background-color: #4aaaa5;
	color: #FFFFFF;
	text-align: center;
	margin-left: 120px;
	font-family: Georgia, Times, "Times New Roman", serif;
	position: relative;
	display: inline-block;	

}

#name {
	position: fixed;
	line-height: 80px;
	vertical-align: middle; 
}

nav {
	height: 80px;
	border-bottom: 2px solid #cccccc;
}

h2 {
	color: #4aaaa5;
	font-family: Georgia, Times, "Times New Roman", serif;
}

span {
  display: inline-block;
  vertical-align: middle;
  }

ul{
	list-style-type: none;
	margin-top: 20px;
	margin-right:150px;
	padding: 0;
	overflow: hidden;
}

li {
    float: right;    
    text-decoration: none;
    height: 50px;
}

li a {
	height: 20px;
	line-height: 0px;
    display: block; 
    color: #777777;
    text-align: center;
    margin-right: 0px;
    padding: 10px 5px 10px 5px;    
}

li + li {
	border-right: 1px solid #dddddd;
}

div .container {
	
	background-image: url("../images/concrete_subtle.png");
	
}

.about {
	width: 540px;
	height: 240px;
	padding: 20px;
	margin: 40px;
	font-family: all; 
	/* (Arial, "Helvetica Neue", Helvetica, sans-serif)*/
	background-color: #ffffff;
	border: 1px solid #dddddd;
	position: relative;
}

.about hr {
	height:2px;
	color: #dddddd;
	background-color: #dddddd;
}

.connect {
	color: #4aaaa5;
	margin-left: 720px;
	width: 240px;
	border:1px solid #dddddd;
	padding-left:20px;
	padding-right: 20px;
	text-align: center;
	background-color: #ffffff;
	position: fixed;
}

footer {
	color: #dddddd;
	border-top: 10px solid #4aaaa5;
	background-color: #666666;
	height: 100px;
	width:100%;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	left: 0px;
	bottom: 0px;
	position: fixed;

}







/*form input {
  width: 400px;
  padding: 10px;
  margin:5px;
  border: none;
  border-bottom: 2px solid navy;
  border-right: 2px solid navy;
  border-radius: 4px;
  background-color: #D5D4D4;
  color: #130D78;
  }

  input:focus {
  background-color: #EDEBEC;
}

form input[type=submit]{
  width:150px;
  padding:10px;
  background-color:#4aaaa5;
  color:white;
  font-weight:bold;
}

form input[type=submit]:hover{
  background-color:#1B1585;
}


form input[type=submit]:focus{
  background-color:#4F45EA;
}

#message{
    width: 400px;
  padding: 10px;
  margin:5px;
  border: none;
  border-bottom: 2px solid navy;
  border-right: 2px solid navy;
  border-radius: 4px;
  background-color: #D5D4D4;
  color: #130D78;
  height:100px;
  vertical-align:text-top;
  word-wrap:break-word;
  resize: vertical;
}

#message:focus {
  background-color:#EDEBEC ; */
}

