body {
	margin:0;
	height: 100%;
	
}


#name {
	
	line-height: 40px;
	vertical-align: middle; 
	height: 78px;
	width: 240px;
	border: 2px solid #4aaaa5;
	background-color: #4aaaa5;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Times, "Times New Roman", serif;
	position: relative;
	display: block;	
	top: 0px;
	left: 120px;
	float:left;
}

.navbar {
	height: 80px;
	border-bottom: 2px solid #cccccc;
}

h2 {
	color: #4aaaa5;
	font-family: Georgia, Times, "Times New Roman", serif;
}

ul{
	height: 25px;
	line-height: 40px;
	list-style-type: none;
	margin-top: 20px;
	margin-right:280px;
	padding: 0;
	overflow: hidden;
	float:right;
	position: relative;
	top: 10px;
	font-size: 20px;
}

li {
    float: right;    
    text-decoration: none;
    height: 50px;
}

li a {
	height: 20px;
	line-height: 0px;
    display: block; 
    color: #777777;
    text-align: right;
    margin-right: 0px;
    padding: 10px 15px;    
}

a:link {
	text-decoration: none;
}

li + li {
	border-right: 1px solid #dddddd;
}

#container_about {
	height: 720px;
	width: 100%;
	background-image: url("../images/concrete_subtle.png");

	
}

#about {
	width: 540px;
	height: 240px;
	padding: 20px;
	color: #777777;
	font-family: all; 
	/* (Arial, "Helvetica Neue", Helvetica, sans-serif)*/
	background-color: #ffffff;
	border: 1px solid #dddddd;
	position: relative;
	top:60px;
	left: 120px;
	float: left;
}

#about hr {
	border:2px solid #dddddd;
}

#connect {
	color: #4aaaa5;
	width: 240px;
	border:1px solid #dddddd;
	padding-left:20px;
	padding-right: 20px;
	text-align: center;
	background-color: #ffffff;
	float:right;
	position: relative;
	top: 60px;
	right: 280px;

}

a #stackoverflow {
	height: 80px;
	width: 80px;

}

footer {
	color: #dddddd;
	border-top: 10px solid #4aaaa5;
	background-color: #666666;
	height: 100px;
	width:100%;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	left: 0px;
	bottom: 0px;
	position: relative;

}







/*form input {
  width: 400px;
  padding: 10px;
  margin:5px;
  border: none;
  border-bottom: 2px solid navy;
  border-right: 2px solid navy;
  border-radius: 4px;
  background-color: #D5D4D4;
  color: #130D78;
  }

  input:focus {
  background-color: #EDEBEC;
}

form input[type=submit]{
  width:150px;
  padding:10px;
  background-color:#4aaaa5;
  color:white;
  font-weight:bold;
}

form input[type=submit]:hover{
  background-color:#1B1585;
}


form input[type=submit]:focus{
  background-color:#4F45EA;
}

#message{
    width: 400px;
  padding: 10px;
  margin:5px;
  border: none;
  border-bottom: 2px solid navy;
  border-right: 2px solid navy;
  border-radius: 4px;
  background-color: #D5D4D4;
  color: #130D78;
  height:100px;
  vertical-align:text-top;
  word-wrap:break-word;
  resize: vertical;
}

#message:focus {
  background-color:#EDEBEC ; */
}

